html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
    overflow: hidden;
    text-align: center;
}
#container {
    position: fixed;
    display: flex;
    bottom: 0;
    text-align: center;
}
#controls {
    position: fixed;
    /*width: 100%;*/
    bottom: 10px;
    right: 10px;
    display: flex;
    color: white;
    text-align: center;
    margin: auto;
}

#name {
    font-size: 13px;
    font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
    color: dimgrey;
    font-weight: 300;
    margin:10px;
    padding:0;
    letter-spacing: 1px;
}

#help {
    font-size: 12px;
    font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
    color: dimgrey;
    font-weight: 300;
    margin:10px;
    padding:0;
    letter-spacing: 1px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    text-align: right;
    display: none;
}

.fa{
    color: dimgray;
}
.fa:hover{
    color: white;
    cursor: pointer;
}
.icon{
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: dimgray;
}

a:hover {
    color: white;
}

#show {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
}

.spin{
    position: fixed;
    top: 45%;
}

.spin:hover{
    color: dimgray;
    cursor: auto;
}

#full{
    visibility: hidden;
}