html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
    overflow: hidden;
    text-align: center;
}

#controls {
    font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
    position: fixed;
    width: 100%;
    bottom: 2%;
    display: block;
}

#name {
    font-size: 16px;
    color: white;
    width: 150px;
    margin:0;
    padding:0;
}
